{% extends 'base.html' %}

{% load static %}

{% block header_buttons %}
    <button class="btn btn-outline-success me-2 shadow-none foodplan_green foodplan__border_green" onclick="history.back()">Назад</button>
{% endblock %}

{% block main %}
    <main style="margin-top: calc(2rem + 75px);">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4 d-flex justify-content-center">
                        <div class="card foodplan__card_borderless">
                            <img src="{{ dish.image.url }}" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-md-8 d-flex flex-column justify-content-between">
                        <div class="row">
                            <h2>{{ dish.name }}</h2>
                            <div class="col-12 col-sm-6 d-flex flex-column justify-content-between">
                                <h6>{{ dish.description }}</h6>
                                <h6>{{ dish.recipe }}</h6>
                            </div>
                            <div class="col-12 col-sm-6">
                                <small class="link-secondary">Ингредиенты:</small>
                                <ul class="list-group list-group-flush">
                                    {% for ingr_in_dish in dish.dish_items.all %}
                                        <li class="list-group-item disabled"><small>
                                            {{ ingr_in_dish.ingredient.name }}
                                            ({{ ingr_in_dish.quantity }} {{ ingr_in_dish.measurement }})
                                        </small></li>
                                    {% endfor %}
                                </ul>
                                <small class="link-secondary">Общая калорийность: {{ dish.calories }} ккал</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
