{% extends 'base.html' %}

{% load static %}

{% block header_buttons %}
    <h3 class="text-secondary mt-2 me-2">Стоимость будет рассчитана на следующей странице</h3>
    <button form="order" type="submit" class="btn shadow-none btn-sm btn-outline-success foodplan_green foodplan__border_green">Оплатить</button>
{% endblock %}

{% block main %}
    <main style="margin-top: calc(2rem + 85px);">
        <section>
            <div class="container">
                <form id="order" method="POST">
                    {% csrf_token %}
                    <h1><strong class="foodplan_green">1 шаг </strong>до первого меню</h1>
                    <h5 class="text-secondary mb-3">Вам доступно для выбора 4 типа меню: Классическое, Низкоуглеводное, Вегетарианское и Кето.</h5>
                    <div class="row mb-5">
                        {% for category in form.fields.menu_category.queryset %}
                            <div class="col-6 col-md-3">
                                <label for="{{ category.id }}" class="position-relative" style="cursor: pointer;">
                                    <img src="{{ category.image.url }}" alt="" class="w-100">
                                    <input {% if category.id == 1 %}checked{% endif %} form="order" type="radio" name="menu_category" id="{{ category.id }}" value="{{ category.id }}" class="foodplan_selected d-none">
                                    <div class="img_selected" id="img{{ category.id }}"></div>
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                    <h2><strong>Выберите подходящий тариф</strong></h2>

                    <table class="table text-center text-truncate mb-5">
                        <tbody>
                            <tr>
                                <th scope="row" class="text-start">Срок</th>
                                <td>
                                    <select class="form-select" name="month_count">
                                        <option value="1" selected>1 мес.</option>
                                        <option value="3">3 мес.</option>
                                        <option value="6">6 мес.</option>
                                        <option value="12">12 мес.</option>
                                    </select>
                                </td>
                            </tr>
                            {% for meal_type in form.meal_types %}
                                <tr>
                                    <th scope="row" class="text-start">{{ meal_type.data.label }}</th>
                                    <td>
                                        <select name="meal_types" class="form-select">
                                            <option value="{{ meal_type.data.value }}" selected>&#10004;</option>
                                            <option value="0">&#10008;</option>
                                        </select>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <th scope="row" class="text-start">Кол-во персон</th>
                                <td>
                                    <select name="portion_quantity" class="form-select">
                                        <option value="1" selected>1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-start">Аллергии</th>
                                <td>
                                    {% for allergy in form.fields.allergies.queryset %}
                                        <div class="form-check d-flex justify-content-start">
                                            <input class="form-check-input me-1 foodplan_checked-green" type="checkbox" value="{{ allergy.id }}" name="allergies">
                                            <label class="form-check-label" for="allergy1">
                                                {{ allergy.name }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center my-5">
                        <button type="submit" class="btn shadow-none btn-outline-success foodplan_green foodplan__border_green w-50">Подтвердить</button>
                    </div>
                   </form>
            </div>
        </section>
    </main>
{% endblock %}
