{% extends 'auth/base_auth.html' %}
{% block header_buttons %}
    <a href="{% url 'auth' %}" class="btn btn-outline-success shadow-none foodplan_green foodplan__border_green">Войти</a>
{% endblock %}
{% block auth_main %}
<div class="card px-5 py-3 d-flex align-items-center foodplan__shadow">
    <form action="#" method="post">
        {% csrf_token %}
        <h1 class="mb-4 text-center"><strong>Регистрация</strong></h1>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            {{ form.email }}
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Имя</label>
            {{ form.name }}
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Пароль</label>
            {{ form.password1 }}
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Подтверждение пароля</label>
            {{ form.password2 }}
        </div>
        {% if form.errors %}
            <div class=" alert alert-info" role="alert">
                {% for field in form %}
                    {{ field.errors }}
                {% endfor %}
            </div>
        {% endif %}
        <div class="row mb-3">
            <div class="col-12 col-sm-6 mt-3">
                <button type="submit" class="btn  shadow-nonew-100 btn-outline-success foodplan_green foodplan__border_green">Регистрация</button>
            </div>
            <div class="col-12 col-sm-6 mt-3 d-flex justify-content-center align-items-center">
                <small>Уже есть аккаунт? <a href="{% url 'auth' %}" class="link-dark foodplan_green">Войти</a></small>
            </div>
        </div>
    </form>
</div>
{% endblock %}